@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body{
  background-image: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%)); /**/
  margin: 0;
  height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border: hsl(217, 16%, 45%) solid 2px;
  border-radius: 15px;
  text-transform: uppercase;
  width: 800px;
  height: 125px;
  box-sizing: border-box;
  padding: 20px;
}

.title > h1{
  margin: 0;
  line-height: .8;
}
.scoreboard{
  background-color: white;
  width: 115px;
  height: 90px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scoreboard > h4{
  color: hsl(229, 64%, 46%);
  font-weight: 600;
  margin: 0;
  font-size: 15px;
  letter-spacing: 2px;
}
.scoreboard > .score{
  color: hsl(229, 25%, 31%);
  margin: 0;
  font-size: 36px
}

.choices-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 50% 60%;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  display: none /*uncomment for js stuff*/
}

.choice,.chosen{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90%;
  border: 0;
  width: 175px;
  height: 175px;
  cursor: pointer;
}

.paper-choice-color{
  background-image: radial-gradient(circle at top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  margin-right: 50px
}
.scissors-choice-color{
  background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  margin-left: 50px
}
.rock-choice-color{
  background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  margin-top: 0
}

.inner{
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rule-section{
  width: 100%;
  text-align: right;
}
.rule-section > button{
  width: 125px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0);
  border: hsl(217, 16%, 45%) solid 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-weight: 700;
}

/* CHOSEN SECTION */

.chosen-section{
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.chosen-section > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chosen-title{
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.my-chosen-content > .paper-choice-color{
  margin: 0;
}
.my-chosen-content > .scissors-choice-color{
  margin: 0;
}

.house-chosen-content > .paper-choice-color{
  margin: 0;
}
.house-chosen-content > .scissors-choice-color{
  margin: 0;
}

.chosen{
  width: 225px;
  height: 225px;
}

.play-again-btn{
  width: 125px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  border: white solid 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(229, 25%, 31%);
  font-weight: 700;
}